@tailwind base;
@tailwind components;
@tailwind utilities;

.heal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

@keyframes heal {
  0%,
  100% {
    opacity: 0;
  }
  33.33%,
  66.67% {
    opacity: 0.2;
  }
}

.damage-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

@keyframes damage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-out;
}
